broker_produccion/wsdl/BasicCompatibilityEngineService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OrderRequest" targetNamespace="http://tigo.com/enterprise/serviceEntity/provisioning/compatibilityEngineRequest/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cmn="http://tigo.com/commons/generalResponse/v1/schema" xmlns:tns="http://tigo.com/enterprise/serviceEntity/provisioning/compatibilityEngineRequest/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://tigo.com/enterprise/serviceEntity/provisioning/compatibilityEngineRequest/v1/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://tigo.com/enterprise/serviceEntity/provisioning/compatibilityEngineRequest/v1">
         <xsd:import namespace="http://tigo.com/enterprise/serviceEntity/provisioning/compatibilityEngineRequest/v1/schema" schemaLocation="../xsd/BasicCompatibilityEngine_schema.xsd"/>
         <xsd:import namespace="http://tigo.com/commons/generalResponse/v1/schema" schemaLocation="../xsd/commons/BasicGeneralResponse_schema.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://tigo.com/enterprise/taskService/provisioning/v1/schema" schemaLocation="../xsd/BasicProvisioning_schema.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="BasicOrderRequest_msg">
      <wsdl:part name="body" element="sch:BasicOrderRequest"/>
   </wsdl:message>
   <wsdl:message name="BasicOrderResponse_msg">
      <wsdl:part name="body" element="sch:BasicOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="GeneralResponse_msg">
      <wsdl:part name="fault" element="cmn:GeneralResponse"/>
   </wsdl:message>
   <wsdl:message name="BasicVoidOrderRequest_msg">
      <wsdl:part name="body" element="sch:BasicVoidOrderRequest"/>
   </wsdl:message>
   <wsdl:message name="BasicVoidOrderResponse_msg">
      <wsdl:part name="body" element="sch:BasicVoidOrderResponse"/>
   </wsdl:message>
   <wsdl:portType name="BasicOrderPort">
      <wsdl:operation name="ValidateOrder">
         <wsdl:input name="BasicOrderPortRequest" message="tns:BasicOrderRequest_msg"/>
         <wsdl:output name="BasicOrderPortResponse" message="tns:BasicOrderResponse_msg"/>
         <wsdl:fault name="fault" message="tns:GeneralResponse_msg"/>
      </wsdl:operation>
      <wsdl:operation name="ReverseOrder">
         <wsdl:input name="BasicVoidOrderPortRequest" message="tns:BasicVoidOrderRequest_msg"/>
         <wsdl:output name="BasicVoidOrderPortResponse" message="tns:BasicVoidOrderResponse_msg"/>
         <wsdl:fault name="fault" message="tns:GeneralResponse_msg"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Order_wsSOAP" type="tns:BasicOrderPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ValidateOrder">
         <soap:operation soapAction="" soapActionRequired="false"/>
         <wsdl:input name="BasicOrderPortRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="BasicOrderPortResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ReverseOrder">
         <soap:operation soapAction="" soapActionRequired="false"/>
         <wsdl:input name="BasicVoidOrderPortRequest">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="BasicVoidOrderPortResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CompatibilityEngineMediator_ep">
      <wsdl:port name="BasicOrderPort_pt" binding="tns:Order_wsSOAP">
         <soap:address location="http://osmsoa.tigo.com.gt:7001/soa-infra/services/ffs/CompatibilityEngineService/CompatibilityEngineMediator_ep"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
