broker_produccion/xsd/dvm/ProductPriority_schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema version="1.0" targetNamespace="http://tigo.com/resources/ProductPriority/v1/schema" xmlns:sch="http://tigo.com/resources/ProductPriority/v1/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="productPriority" type="sch:productPriority_type"/>
   <xsd:complexType name="productPriority_type">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:string"/>
         <xsd:element name="product" type="xsd:string"/>
         <xsd:element name="action" type="xsd:string"/>
         <xsd:element name="priority" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
