broker_produccion/LOG_ORCHESTRATOR_M_ADAPTER.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="LOG_ORCHESTRATOR_M_ADAPTER" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/OrchestratorOrders/Orchestrator/LOG_ORCHESTRATOR_M_ADAPTER" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/OrchestratorOrders/Orchestrator/LOG_ORCHESTRATOR_M_ADAPTER" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/LOG_ORCHESTRATOR_M_ADAPTER">
   <plt:partnerLinkType name="LOG_ORCHESTRATOR_M_ADAPTER_plt">
      <plt:role name="LOG_ORCHESTRATOR_M_ADAPTER_role">
         <plt:portType name="tns:LOG_ORCHESTRATOR_M_ADAPTER_ptt"/>
      </plt:role>
   </plt:partnerLinkType>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/LOG_ORCHESTRATOR_M_ADAPTER" schemaLocation="xsd/LOG_ORCHESTRATOR_M_ADAPTER_table.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="LogOrchestratorMCollection_msg">
      <wsdl:part name="LogOrchestratorMCollection" element="top:LogOrchestratorMCollection"/>
   </wsdl:message>
   <wsdl:message name="LOG_ORCHESTRATOR_M_ADAPTERSelect_inputParameters">
      <wsdl:part name="LOG_ORCHESTRATOR_M_ADAPTERSelect_inputParameters" element="top:LOG_ORCHESTRATOR_M_ADAPTERSelect_utiInputParameters"/>
   </wsdl:message>
   <wsdl:portType name="LOG_ORCHESTRATOR_M_ADAPTER_ptt">
      <wsdl:operation name="insert">
         <wsdl:input message="tns:LogOrchestratorMCollection_msg"/>
      </wsdl:operation>
      <wsdl:operation name="update">
         <wsdl:input message="tns:LogOrchestratorMCollection_msg"/>
      </wsdl:operation>
      <wsdl:operation name="LOG_ORCHESTRATOR_M_ADAPTERSelect">
         <wsdl:input message="tns:LOG_ORCHESTRATOR_M_ADAPTERSelect_inputParameters"/>
         <wsdl:output message="tns:LogOrchestratorMCollection_msg"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
