broker_produccion/xsd/partner/product/BasicProduct_schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema version="1.0" targetNamespace="http://tigo.com/enterprise/businessEntity/product/basic/v1/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tigo.com/enterprise/businessEntity/product/basic/v1/schema">
   <xsd:element name="product" type="tns:ProductType"/>
   <xsd:complexType name="ProductType">
      <xsd:sequence>
         <xsd:element name="CODE" type="xsd:string" minOccurs="1"/>
         <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
